[submodule "ocaml-protoc-plugin"]
	path = ocaml-protoc-plugin
	url = https://github.com/sidsabh/ocaml-protoc-plugin.git
	ignore = dirty
[submodule "test/CS380D-RaftProject"]
	path = test/CS380D-RaftProject
	url = https://github.com/asmitalim/CS380D-RaftProject.git
	ignore = dirty
	
